@import "tailwindcss";
@config "../../tailwind.config.ts";

html {
  scroll-behavior: smooth !important;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0f172a;
    --primary: #2563eb;
    --secondary: #64748b;
    --accent: #f59e0b;
  }

  .dark {
    --background: #020617; /* Slate 950 */
    --foreground: #f8fafc; /* Slate 50 */
    --primary: #3b82f6;
  }

  body {
    background-color: var(--background) !important;
    color: var(--foreground) !important;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}